/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* CUSTOM PROPERTIES */

:root {
    --color-gray: #7d7f84;
    --size-0-5rem: 0.5rem;
    --size-0-75rem: 0.75rem;
    --size-1rem: 1rem;
    --size-1-25rem: 1.25rem;
    --size-1-5rem: 1.5rem;
    --size-2rem: 2rem;
    --size-2-5rem: 2.5rem;
    --size-3rem: 3rem;
    --size-3-5rem: 3.5rem;
    --size-4rem: 3.5rem;
}

/* UTILITIES */

.flex {
    display: flex;
}

.container {
    height: 100%;
    overflow: auto;
    width: 100%;
    background-color: #141922;
}

/* GENERIC */

body {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.main-app {
    max-width: 100%;
    height: calc(100vh - 80px);
}

footer {
    height: 80px;
    background-color: #282828;
}


main {
    height: 100%;
    width: 100%;
}

ul {
    list-style-type: none;
}

section {
    padding-left: var(--size-1rem);
    padding-right: var(--size-1rem);
}

.row {
    margin: var(--size-1-5rem) -0.5rem;
}


.card {
    min-height: 200px;
    background-color: yellow;
    width: calc(50% - 1rem);
    border: 1px solid black;
    margin: var(--size-0-5rem);
}



a {
    text-decoration: none;
    cursor: pointer;
}

/* SIDEBAR */

.sidebar-phone {
    width: 50px;
    background-color: black;
    height: 100%;
}

.sidebar-tablet {
    width: 250px;
    background-color: black;
    height: 100%;
    display: none;
}


/* HEADER */

header {
    position: sticky;
    right: 0;
    top: 0;
    left: 0;
    height: 80px;
    background-color: rgba(8, 11, 18, 0.5);
    width: 100%;
}

.main-header .flex {
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin-right: var(--size-2rem);
}

.main-header a {
    padding: var(--size-0-75rem) var(--size-1-5rem);
    color: white;
    border: 1px solid white;
    border-radius: var(--size-3rem);
}

.main-header a:hover {
    transform: scale(1.2);
}


/* MAIN Nav-bar*/

.nav-bar ul {
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: var(--size-1rem);
}

.nav-bar li {
    margin: var(--size-1-5rem) var(--size-1-5rem);
}

.nav-bar a {
    color: var(--color-gray);
    font-size: var(--size-0-75rem);
    font-weight: bold;
}

/* Main Section recently-played */


#recently-played .flex {
    flex-wrap: wrap;
}

/* Main Section create-for */

.main-app p {
    padding-top: var(--size-0-5rem);
}



/* Main Section artists */




/* MEDIA QUERY */

@media screen and (min-width: 640px) {
    .sidebar-tablet {
        display: block;
    }

    .sidebar-phone {
        display: none;
    }


}



@media screen and (min-width: 878px) {
    .card {
        width: calc(25% - 1rem)
    }
}



@media screen and (min-width: 1440px) {
    .card {
        width: calc(100% / 6 - 1rem);
    }
}